@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  background-color: #141414;
  display: grid;
  grid-template-columns: 26rem auto;
  grid-template-rows: max-content;
  grid-template-areas: "nav header" "nav main";
  font-family: "Montserrat", sans-serif; }

main {
  grid-area: main;
  padding: 1.5rem 2.4rem; }

nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  background-color: #141414;
  width: 26rem;
  height: 100vh;
  padding: 2rem 1.5rem;
  justify-content: space-between;
  border-right: 0.5px solid #38383a;
  position: fixed; }
  nav .app-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem; }
    nav .app-logo h1 {
      font-size: 2rem;
      font-weight: 900;
      text-transform: uppercase;
      line-height: 2.5rem;
      font-style: normal;
      background: linear-gradient(90deg, rgba(0, 97, 253, 0.8) 0%, #bcd6ff 89.5%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  nav .list-navigation {
    display: flex;
    flex-direction: column;
    gap: 1.6rem; }
    nav .list-navigation-second {
      bottom: 0; }
    nav .list-navigation li {
      display: flex;
      border-radius: 1.2rem;
      gap: 1.2rem;
      align-items: center;
      padding: 1.2rem 1.6rem 1.2rem 3.7rem; }
      nav .list-navigation li.active {
        background-color: #2f2f2f; }
      nav .list-navigation li p {
        color: #fff;
        font-style: normal;
        font-size: 1.3rem; }

header {
  display: flex;
  grid-area: header;
  justify-content: space-between;
  padding: 3rem 2.4rem 1rem; }
  header ul {
    display: flex;
    gap: 1.2rem; }
    header ul li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 78px;
      height: 32px;
      border-radius: 143px;
      list-style: none; }
      header ul li.active {
        background-color: #0061fd; }
      header ul li a {
        text-align: center;
        text-decoration: none;
        color: #fff;
        font-size: 1.2rem;
        line-height: 1.2rem; }
      header ul li.notification {
        padding: 0 0.5rem;
        width: fit-content; }
      header ul li.search {
        display: flex;
        gap: 1rem;
        background-color: #2f2f2f;
        width: fit-content;
        padding: 1.5rem; }
        header ul li.search input {
          background: none;
          border: none; }
          header ul li.search input:focus {
            outline: none; }

.hero {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto 20%;
  margin-bottom: 2rem; }
  .hero .detail-hero {
    position: relative;
    height: 100%; }
    .hero .detail-hero img {
      border-radius: 1.2rem 0 0 1.2rem;
      max-width: 100%;
      height: 100%; }
    .hero .detail-hero .information {
      display: flex;
      flex-direction: column;
      padding: 2rem 2.8rem 4rem;
      top: 0;
      left: 0;
      position: absolute;
      justify-content: space-between;
      height: 100%; }
      .hero .detail-hero .information .title h1 {
        color: #fff; }
      .hero .detail-hero .information .description p {
        color: #ebebf5;
        font-weight: 600;
        font-size: 1.4rem;
        margin-bottom: 2; }
      .hero .detail-hero .information .description h2 {
        color: #fff;
        font-weight: 800;
        font-size: 2.4rem;
        margin-bottom: 2.5rem; }
      .hero .detail-hero .information .description .btn-play {
        background-color: #0061fd;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
        border-radius: 1.4rem;
        color: #fff;
        font-size: 1.6rem;
        padding: 1.6rem 1.8rem;
        border: none;
        display: flex;
        align-items: center;
        gap: 1rem; }
        .hero .detail-hero .information .description .btn-play img {
          width: 1.5rem; }
  .hero .list-hero {
    background-color: #2f2f2f;
    width: -webkit-fill-available;
    border-radius: 0 1.2rem 1.2rem 0; }
    .hero .list-hero li {
      display: flex;
      width: -webkit-fill-available;
      gap: 1rem;
      padding: 1rem 1rem;
      align-items: center; }
      .hero .list-hero li h1 {
        color: #ffffff;
        font-size: 1.4rem; }

.game-on-sale {
  margin: 4rem 0; }
  .game-on-sale > h1 {
    font-size: 1.6rem;
    color: #ffffff;
    margin-bottom: 2rem; }
  .game-on-sale .list-items {
    display: flex;
    gap: 2.4rem; }
    .game-on-sale .list-items .item img {
      border-radius: 0.6rem;
      max-width: 100%; }
    .game-on-sale .list-items .item .title {
      font-size: 1.6rem;
      color: #ffffff;
      margin: 1.8rem 0 0.6rem 0;
      width: 18rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .game-on-sale .list-items .item .genre {
      font-size: 1.6rem;
      color: rgba(235, 235, 245, 0.6);
      margin: 0.6rem 0; }
    .game-on-sale .list-items .item .price-group {
      display: grid;
      grid-template-columns: repeat(3, max-content);
      gap: 1rem;
      font-size: 1.6rem;
      align-items: center; }
      .game-on-sale .list-items .item .price-group .discount {
        background: #b1dd8b;
        border-radius: 0.6rem;
        color: #38571a;
        padding: 0.25rem 0.5rem; }
      .game-on-sale .list-items .item .price-group .price-original {
        text-decoration-line: line-through;
        color: rgba(235, 235, 245, 0.6); }
      .game-on-sale .list-items .item .price-group .price-discount,
      .game-on-sale .list-items .item .price-group .price {
        color: #ffffff; }

/*# sourceMappingURL=style.css.map */
