header {
  display: flex;
  grid-area: header;
  justify-content: space-between;
  padding: 3rem 2.4rem 1rem;

  ul {
    display: flex;
    gap: 1.2rem;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 78px;
      height: 32px;
      border-radius: 143px;
      list-style: none;

      &.active {
        background-color: #0061fd;
      }

      a {
        text-align: center;
        text-decoration: none;
        color: #fff;
        font-size: 1.2rem;
        line-height: 1.2rem;
      }

      &.notification {
        padding: 0 0.5rem;
        width: fit-content;
      }

      &.search {
        display: flex;
        gap: 1rem;
        background-color: #2f2f2f;
        width: fit-content;
        padding: 1.5rem;

        input {
          background: none;
          border: none;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
